header {
    margin-top: 80px; 
    padding-top: 10px;
    border-top:1px solid white;
    z-index: 4444;
    position: absolute;
    width: 100%; 
    .navbar-toggler-icon {
      display: inline-block;
       width: auto; 
       height: auto; 
      vertical-align: middle;
      content: "";
      background: no-repeat 50%;
      background-size: 100% 100%;
      i{
        font-size: 25px;
        color: white;
    }
  }
   
  
  //
    

    ul{
      li{
        a{
          text-transform: uppercase;
          color: white;
          font-size: 13px;
          letter-spacing: 1px;
        }
      }
    }
}
