.btn-contact{
    background-color: #222;
    font-weight: 700;
    width: auto;
    padding: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: white!important;
    border: 0px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
}

//