* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // border: 1px solid red;
}
html {
  font-size: 62.5%;
  background: white;
  height: 100%;
}
body {
  font: 300 13px/1.6 'Arial', Helvetica;
  color: #444;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;

}
h2{
  font-family: BaskervilleBold, Helvetica, Arial;
}

.padding-0{
  padding: 0!important;
}
section{
  overflow: hidden;
}
.scrollup{
  font-size: 20px;
  color: #fff;
  background-color: #f9a80a;
  border: 1px solid #a2a2a2;
  text-align: center;
  padding: 10px;
  /* width: 30px; */
  /* height: 30px; */
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 11;
  //
  }