$white: #FFF;
$fontcolorContactForm:#aba1a3;
$bgcolorcontact:#eeeeee;
$colorfontContact:#7a786d;
$orangeBg:#f8a51d;
$colorhover:#1f1e1e;
$footer1BGcolor:#222;
$colorfooter:#808080;
$fontcolorfooter2: #141313;